<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <title>Employees Search</title>
</head>
<body>
    <h1 class="mt-2 ml-2">Employees List</h1>
    <div class="container">
    <h2>Search by employee name or by country</h2>
    <br>
        <!-- Get and filter employees//-->
        <form action="/selected_employees" method="post">
            <label for="name">Name:</label>
            <input type="search" name="name" id="name" oninput="trimInput()">
            <button type="submit" class="btn btn-warning">Search by Name</button>
            <br>
            <br>
            <label for="country">Country:</label>
            <input type="search" name="country" id="country" oninput="trimInputCountry()">
            <button type="submit" class="btn btn-secondary">Search by Country</button>
        </form>
        </div>
<br>
    <!-- Display the employees -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Hire Date</th>
                <th>Salary</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee[0] }}</td>
                    <td>{{ employee[1] }}</td>
                    <td>{{ employee[2] }}</td>
                    <td>{{ employee[3] }}</td>
                    <td>{{ employee[4] }}</td>
                    <td>{{ employee[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
