<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Employees</title>
</head>

<body>
    <h1>Selected Employees</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Hire Date</th>
                <th>Salary</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in selected_employees %}
                <tr>
                    <td>{{ employee[0] }}</td>
                    <td>{{ employee[1] }}</td>
                    <td>{{ employee[2] }}</td>
                    <td>{{ employee[3] }}</td>
                    <td>{{ employee[4] }}</td>
                    <td>{{ employee[5] }}</td>
                    <td>{{ employee[6] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
