<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Selected Employees</title>
</head>
<body>
    <h1>Selected Employees</h1>
    <form action="/" method="get">
      <button type="submit" class="btn btn-dark">Return</button>
    </form>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Experience</th>
                <th>Salary</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in selected_employees %}
                <tr>
                    <td>{{ employee[0] }}</td>
                    <td>{{ employee[1] }}</td>
                    <td>{{ employee[2] }}</td>
                    <td>{{ employee[3] }}</td>
                    <td>{{ employee[4] }}</td>
                    <td>{{ employee[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
